name: Build and Push Docker Images

on:
  push:
    branches:
      - main    # Production
    # Only main branch triggers Docker build and push

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          provenance: true
          tags: |
            jcdorr3/windash:latest
            jcdorr3/windash:${{ github.ref_name }}

        - name: Build local Docker image for SBOM
          run: docker build -t windash:latest .
      
      - name: Install Syft
        run: |
          wget https://github.com/anchore/syft/releases/download/v0.101.0/syft_0.101.0_linux_amd64.tar.gz
          tar -xzf syft_0.101.0_linux_amd64.tar.gz
          sudo mv syft /usr/local/bin/

      - name: Generate SBOM
        run: syft docker:windash:latest -o json > sbom.json
